* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #182035;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatareSpacesLink {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background-color: #22354b;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
    display: inline-block;
    line-height: 1;
}


#whatareSpacesLink:hover {
    background-color: #2a4664;
}

main {
    padding-top: 2rem !important;
    max-width: 90%;
    margin: 0 auto;
}

.full-title {
    display: block;
}

.short-title {
    display: none;
}



.maindiv {
    padding-top: 2rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#searchInput {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    background-color: #182035;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1rem;
}

#searchButton:hover {
    background-color: #151d33;
}

.results ul {
    list-style: none;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.results li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.results li:last-child {
    border-bottom: none;
}

.space-title {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}

.space-participants {
    font-size: 1rem;
    color: #99b6ff;
    margin-right: 1rem;
    margin-left: auto; 
}

.space-link {
    text-decoration: none;
    background-image: linear-gradient(to right, #12D8FA  0%, #1FA2FF 100%);       
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-image 0.3s;
}

.space-link:hover {
    background-image: linear-gradient(to right, #1FA2FF  0%, #1FA2FF 100%); 
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #182035;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
    height: 4rem;
}

.notification {
    display: none;
    position: fixed;
    z-index: 100;
    top: 70px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: auto;
}

.notification-content {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .search {
      flex-direction: column;
      justify-content: baseline;
      align-items: flex-start;
    }

    #searchInput {
        width: 100%;
        margin-bottom: 1rem;
        height: 3rem;
    }

    #searchButton {
        margin-left: 0;
        width: 50%;
        height: 3.5rem;
        font-size: 1.4rem;
    }

    main {
      width: 100%;
      max-width: 98%;
    }

    .results {
      max-width: 100%;
    }

    .space-title {
      overflow: hidden;
    }

    .space-link {
      width: 20%;
      min-width: 20%;
      font-weight: 900;
      text-align: center; 
    }

    .results ul {
      padding: 0.5rem;
    }
  
}

@media screen and (max-width: 678px) {
  .full-title {
      display: none;
  }

  .short-title {
      display: block;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
  }
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#backLink {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background-color: #182035;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#backLink:hover {
    background-color: #151d33;
}
